/*------------------------*/
/* ELEMENTOS DO FOOTER    */
/*------------------------*/

/* Imagem de fundo do Header para telas médias */
@media screen and (max-width: 1200px) {
    header {
        background: linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.2)), url('../Imagens/headerCAPAM.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

/* Imagem de fundo do Header para telas pequenas */
@media screen and (max-width: 800px) {
    header {
        background: linear-gradient(rgba(13, 13, 13, 0.6), rgba(13, 13, 13, 0.2)), url('../Imagens/headerCAPAP.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

/* Estilos do Menu Hambúrguer para telas de até 663px */
@media screen and (max-width: 794px) {
    header nav#nav-esq {
        justify-content: space-between;
        /* Alinha logo à esquerda e ícone à direita */
    }

    /* Mostra o container dos ícones (hambúrguer e X) */
    header nav#nav-esq ul#icone-menu {
        display: flex;
        /* Sobrescreve a regra do style.css para mostrar na versão mobile */
    }

    /* Esconde o ícone "X" (fechar) por padrão */
    header nav#nav-esq ul#icone-menu li#menux {
        display: none;
    }

    /* Esconde o menu de navegação principal por padrão */
    header nav#nav-esq ul#menu-central {
        display: none;
        /* ESSENCIAL: O jQuery controla a exibição a partir daqui */
        flex-direction: column;
        align-items: center;
        width: 60%;
        background-color: #D95578;
        padding: 1rem;
        position: absolute;
        top: 119px;
        right: 0;
        z-index: 999;
        border-radius: 0 0 0 10px;
    }

    header nav#nav-esq ul#menu-central li {
        margin: 15px 0;
    }
}

/*------------------------*/
/* ELEMENTOS DO FOOTER  */
/*------------------------*/

/* Ajuste fino para o footer para evitar a quebra em 1182px */
@media screen and (max-width: 1183px) {
    footer div.footer-container {
        /* Reduz o espaçamento para caber na tela sem quebrar a linha */
        gap: 100px;
    }
}


/* Media query para tablets e telas menores (a partir de 992px) */
@media screen and (max-width: 992px) {
    footer div.footer-container {
        flex-direction: column; /* Empilha os itens verticalmente */
        gap: 10px; /* Reduz o espaçamento para o layout vertical */
        padding-right: 0; /* Remove o padding da direita no modo coluna */
    }
}

/* Media query para smartphones (a partir de 480px) */
@media screen and (max-width: 480px) {
    footer div.footer-container div.cartoes div.footer-img-cartoes {
        max-width: 280px; /* Ajusta a imagem dos cartões para telas pequenas */
    }

    footer div.footer-container div.footer-info nav.nav-footer ul li a {
        font-size: 20px; /* Ajusta o tamanho da fonte */
    }
}